.goodnessseccont img{
    width: 50%;

}

.brickellbg{
    background-color: #fff;
    background-image: linear-gradient(#fff7ef,#fff);
    background-image:-webkit-linear-gradient(#fff7ef,#fff) ;
    background-image:-moz-linear-gradient(#fff7ef,#fff) ;
    background-image: -moz-linear-gradient(#fff7ef,#fff);
    background-image: -o-linear-gradient(#fff7ef,#fff);
    padding:50px 40px ;
    border: 1px solid #efe8e1;
    padding-bottom: 20px;


}
.bioaquabgpro{
    background-color: #fff;
    background-image: linear-gradient(rgba(110, 69, 143, 0.1 ),#fff);
    background-image:-webkit-linear-gradient(rgba(110, 69, 143, 0.1 ),#fff) ;
    background-image:-moz-linear-gradient(rgba(110, 69, 143, 0.1 ),#fff) ;
    background-image: -moz-linear-gradient(rgba(110, 69, 143, 0.1 ),#fff);
    background-image: -o-linear-gradient(rgba(110, 69, 143, 0.1 ),#fff);


}
.smbg{
    background-color: #fff;
    background-image: linear-gradient(rgba(10, 77, 123, 0.1 ),#fff);
    background-image:-webkit-linear-gradient(rgba(10, 77, 123, 0.1 ),#fff) ;
    background-image:-moz-linear-gradient(rgba(10, 77, 123, 0.1 ),#fff) ;
    background-image: -moz-linear-gradient(rgba(10, 77, 123, 0.1 ),#fff);
    background-image: -o-linear-gradient(rgba(10, 77, 123, 0.1 ),#fff);

}

.goodnesssec a{
    text-decoration: none;
}